@{
    Layout = "../_Shared/MainLayer";
    ViewData["title"] = "商品列表";
    ViewData["sidebar"] = "";
}
<div class="sixteen wide column">
    <div class="ui small buttons" style="margin-right:15px;">
        <button class="ui blue button" bind-cmd="add">添加</button>
    </div>
</div>
<div class="sixteen wide column">
    <div class="ui vertical segment" id="table">
        <table class="ui blue selectable celled table">
            <thead>
                <tr>
                    <th style="width: 75px;">ID</th>
                    <th style="width: 200px;">名称</th>
                    <th style="width: 200px;">真实名称</th>
                    <th style="width: 180px;">所属组</th>
                    <th style="width: 160px;">状态</th>
                    <th style="width: 200px;">添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>