.ui.sidebar {
    background: #FFF;
}

.ui.sidebar > .header {
    font-weight: normal;
    padding: 11px;
    font-size: 16px;
    border-bottom: solid 1px #DEDEDE;
    background: #F5F5F5;
}

.ui.sidebar > .header > i {
    cursor: pointer;
}

.ui.sidebar > .content {
    padding: 15px;
}

.pusher {
    padding: 70px 15px 15px 15px;
    transform: none !important;
}