<div class="sixteen wide column">
    <div class="ui breadcrumb">
        <a class="section">首页</a>
        <div class="divider"> / </div>
        <div class="section">@ViewData["title"]</div>
    </div>
</div>