<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dialog</title>
    <link href="/Library/semantic/semantic.min.css" rel="stylesheet">
    <link href="/Css/style.css" rel="stylesheet">
    <script src="/Js/jquery-3.4.1.min.js"></script>
    <script src="/Library/semantic/semantic.min.js"></script>
    <script src="/Js/tools.js"></script>
    @await RenderSectionAsync("script", false)
</head>
<body>
    @RenderBody()
</body>
</html>