<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理首页</title>
    <link href="/Library/semantic/semantic.min.css" rel="stylesheet">
    <link href="/Css/style.css" rel="stylesheet">
    <script src="/Js/jquery-3.4.1.min.js"></script>
    <script src="/Library/semantic/semantic.min.js"></script>
    <script src="/Library/layer/layer.js"></script>
    <script src="/Js/tools.js"></script>
    @await RenderSectionAsync("script", false)
</head>
<body>
    @await Html.PartialAsync("../_Shared/Header")
    <div class="ui right wide sidebar">
        @if (!string.IsNullOrWhiteSpace(ViewData["sidebar"].ToString()))
        {
            @await Html.PartialAsync("../_Sidebar/" + ViewData["sidebar"]);
        }
    </div>
    <div class="main pusher">
        <div class="left">
            @await Html.PartialAsync("../_Shared/LeftMenu")
        </div>
        <div class="right">
            @await Html.PartialAsync("../_Shared/BreadCrumb")
            @RenderBody()
        </div>
    </div>
</body>
</html>