@{
    Layout = "../_Shared/MainLayer";
}

@section script
{
    <script>
    $(function() {
    })
    </script>
}

<div class="sixteen wide column">
    <div class="ui mini blue button" bind-cmd="add"><i class="icon plus"></i>添加</div>
</div>